html {
    box-sizing: border-box;
    font-size: 16px;
}

  *, *:before, *:after {
    box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol, ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}


/*h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20;
    font-weight: bold;
} */

.titulo-principal {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20;
    font-weight: bold;
    margin-left: 20px;
}

.conteudo-principal {
    background-color: #28bb28;
    padding: 30px;
}

.titulo-centralizado {
    text-align: center;
}

p {
    text-align: justify;
}

#missao {
    background-color: #90e690;
    border-radius: 5px;
    box-shadow: 1px 1px 15px #003300;
    font-size: 20px;
    margin: 20px auto;
    padding: 15px;
    text-align: center;
    width: 50%;
}

em strong {
    color: #003300;
}

