* {
    margin: 0;
}

.galeria {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .8rem;
   
}

img {
   
    border: 1px solid black;
    width: 60vh;
    height: 40vh;
}

.inicio {
    margin: auto;
    padding: 3vh;
    background-color: lightblue;
    margin-bottom: 3vh;
}

h1 {
    text-align: center;
}

h2, h3, p {
    text-align: left;
}