@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap');

body {
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Quicksand', sans-serif;
	height: 100vh;
	margin: 0;
	background-color: rgb(194, 194, 187);
}

img {
	max-width: 600px;
	border-radius: 30px;
}

main {
	text-align: center;
}

button {
   	border: 0;
	font-size: 1.2rem;
	font-weight: 500;
	padding: 16px;
	background: rgb(158, 201, 152);
	color: white;
	margin: 20px 0;
	cursor: pointer;
	transition: all 0.5s ease-in-out;
}

button:hover {
	background: rgb(130, 202, 120);
}


footer {
	width: 100%;
	background-color: rgb(194, 194, 187);
	padding: 16px;
	color: #0b0e0e;
	position: fixed;
	bottom: 0;
	text-align: center;
	font-weight: 400;
}