.page {
    border: 2px ssolid;
    min-height: 100vh;

    display: flex;
}

aside {
    background-color: lightgreen;
    flex: 1;
}

main {
    background-color: lightblue;
    flex: 2;

    display: flex;
    flex-direction: column;
}

main section:nth-child(1) {
    background: lightgoldenrodyellow;
    flex: 2;
}

main section:nth-child(2) {
    background: lightsalmon;
    flex: 0 80px;
}

main section:nth-child(3) {
    background: lightpink;
    flex: 1;
}

