#div1 {
    width: 100px;
    height: 100%;    /* tamanho do pai*/
    background-color: red;
}

#div2 {
    width: 100px;
    max-height: 200px;    /* define o limite máximo da altura*/
    background-color: #74b9ff;
}

#div3 {
    width: 10%;
    min-height: 250px;    /* define o limite mínimo da altura*/
    background-color: #dcdde1;
    height: 30vh;
}

.fundo {   
    width: 100vw;
    height: 100vh;    
  
}

/* filho direto*/
.fundo > div[class^=largura] { /* ^= tudo que começa com */
    border-style: solid;
    border-width: 2px;
    margin-bottom: 2%;
    height: 40px;
    overflow: hidden;
}

.largura-auto {
    width: auto;
    border-color: #00598daa;
}

.largura-vwvh {
    width: 50vw;
    border-color: #008d44aa;
}

.largura-percent {
    width: 50%;
    border-color: #eb6767aa;
}

.largura-pixel {
    width: 350px;
    border-color: #c82aaeaa;
}

.largura-pixel {
    width: fit-content;
    border-color: #c2f01caa;
}

.largura-min {
    width: min-content;
    border-color: #2ac3c8aa;
}

.largura-max {
    width: max-content;
    border-color: #7c2ac8aa;
}

.largura-max {
    width: revert;
    border-color: #c82a2aaa;
}

.largura-unset {
    width: unset;
    border-color: #c8b32aaa;
}



