/* arquivo para referência */

/* Estilo CSS padrão das tags abaixo */

abbr {
    display: inline;
}

b {
    font-weight: bold;
}

bdo {
    unicode-bidi: bidi-override;
}

blockquote {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 40px;
    margin-right: 40px;
}

q { 
    display: inline;
}

q:before {
    content: open-quote;
}

q:after {
    content: close-quote;
}


cite {
    font-style: italic;
}

del {
    text-decoration: line-through;
}

ins {
    text-decoration: underline;
}


dfn {
    font-style: italic;
}


em {
    font-style: italic;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}


i {
    font-style: italic;
}

kbd {
    font-family: monospace;
}


mark {
    background-color: yellow;
    color: black;
}

rt {
    line-height: normal;
}

s {
    text-decoration: line-through;
}











