table {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
}

tbody tr:nth-last-of-type(odd) {
    background-color: #e1e1e1;
}

td, th {
    padding: 1em;
}

td.real {
    text-align: right;
}

td.real:before {
    content: 'R$';
}

tfoot tr {
    background-color: #333;
    color: #fff;
}